<html>
    <head>
        <title>GOC 2017: StormTropper Dance</title>
    </head>
    <body>     
        <script src="js/inflate.min.js"></script>
        <script src="js/soundfont-player.min.js"></script>
        <script src="js/midi.min.js"></script>
        <script src="js/three.min.js"></script>
        <script src="js/ColladaLoader.js"></script>
        <script src="js/OrbitControls.js"></script>
        <script src="js/websocket.js"></script>
        <script src="js/goc2017.js"></script>        
    </body>
</html>